*{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form label{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#submit{
    background-color: green;
    color: white;
    padding: 8px;
    margin-top: 10px;
}

#submit:hover{
    background-color: rgb(3, 206, 3);
    color: white;
}

#submit:hover:disabled{
    background-color: red;
}

#submit:active{
    margin-top: 2px;
}

.alert{
    color: red;
    font-weight: bold;
}

#successMessage{
    font-weight: bold;
    margin-top: 10px;
    color: limegreen;
}