<h1>Welcome to WikiRaces!</h1>
<h2>What Is WikiRaces?</h2>
<div>
    <p id="description">
        WikiRacing is a game where a player must successfully navigate between a starting page and ending page within Wikipedia
        as fast as they can. All links within the body of the article that redirect to other Wikipedia articles are valid. Now go play!
    </p>
</div>

<h2>Top Races</h2>
<div class="races-menu">
    <ul>
        <li *ngFor="let race of races"
        routerLink="/races/detail/{{race.id}}">
            <a>
                {{race.raceTitle}}
          </a>
        </li>
    </ul>
    
</div>