*{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.races{
    list-style-type: none;
    margin-left: -20px;
    font-size: large;
}

.races a{
    display: block;
    border-style: solid;
    width: 300px;
    margin: 5px;
    background-color: #A5FFD6;
}

.races a:hover{
    background-color: white;
    cursor: pointer;
}

.races a:active{
    background-color: black;
    color: white;
}

form{
    margin-top: 20px;
    display:inline-block;
}

#search-box{
    background-color: white;
    width: 200px;
}

#create-race{
    text-decoration: none;
    border-style: solid;
    border-radius: 5px;
    padding: 8px;
    color: black;
    background-color: gray;
}

#create-race:hover{
    cursor: pointer;
    background-color: rgb(165, 165, 165);
}