<div *ngIf="race">

    <h2>{{race.raceTitle | uppercase}}</h2>
    <h3 id="route">FROM: {{race.startPage.substring(6).replaceAll('_', ' ')}}    TO: {{race.endPage.substring(6).replaceAll('_', ' ')}}</h3>
    <div id="buttons">
        <a id="play-button" routerLink="play">Play!</a>
        <button id="back-button" (click)="goBack()">Go Back</button>
    </div>
</div>
<h3><u>Leaderboard</u></h3>
<div id="leaderboard" *ngIf="leaderboardLines">
    <table aria-labelledby="h3">
        <thead>
            <th id= "head1">Rank</th>
            <th id= "head2">Username</th>
            <th id= "head3">Score</th>
        </thead>
        <tbody>
            <tr *ngFor="let line of leaderboardLines">
                <td>{{line.user.username}}</td>
                <td>{{line.score}}</td>
            </tr>
        </tbody>
    </table>
</div>