<div *ngIf="race">

    <h2>{{race.raceTitle | uppercase}}</h2>

    <a id="play-button" routerLink="play">Play!</a>
    <button id="back-button" (click)="goBack()">Go Back</button>
</div>
<h3><u>Leaderboard</u></h3>
<div id="leaderboard" *ngIf="leaderboardLines">
    <table>
        <thead>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
        </thead>
        <tbody>
            <tr *ngFor="let line of leaderboardLines">
                <td>{{line.user.username}}</td>
                <td>{{line.score}}</td>
            </tr>
        </tbody>
    </table>
</div>